<div xmlns:spring="http://www.springframework.org/tags"
	xmlns:util="urn:jsptagdir:/WEB-INF/tags/util"
	xmlns:jsp="http://java.sun.com/JSP/Page" version="2.2">
	
	<jsp:directive.page contentType="text/html;charset=UTF-8" />
	<jsp:output omit-xml-declaration="yes" />
	
	<spring:message var="title" htmlEscape="false" />
	<util:panel id="title" title="${title}">
		<spring:message code="application_name" var="app_name"
			htmlEscape="false" />
		<h3>
			<spring:message code="welcome_titlepane" arguments="${app_name}" />
		</h3>
	</util:panel>
</div>