<div xmlns:c="http://java.sun.com/jsp/jstl/core"
	xmlns:fn="http://java.sun.com/jsp/jstl/functions"
	xmlns:util="urn:jsptagdir:/WEB-INF/tags/util"
	xmlns:spring="http://www.springframework.org/tags"
	xmlns:jsp="http://java.sun.com/JSP/Page" version="2.0">
	
	<jsp:directive.page contentType="text/html;charset=UTF-8" />
	<jsp:output omit-xml-declaration="yes" />
	
	<spring:message var="title" code="error_uncaughtexception_title"
		htmlEscape="false" />
	<util:panel id="title" title="${title}">
		<h2>${fn:escapeXml(title)}</h2>
		<p>
			<spring:message code="error_uncaughtexception_problemdescription" />
		</p>
		<c:if test="${not empty exception}">
			<p>
			<h4>
				<spring:message code="exception_details" />
			</h4>
			<spring:message var="message" code="exception_message"
				htmlEscape="false" />
			<util:panel id="_message" title="${message}" openPane="false">
				<c:out value="${exception.localizedMessage}" />
			</util:panel>
			<spring:message var="stacktrace" code="exception_stacktrace"
				htmlEscape="false" />
			<util:panel id="_exception" title="${stacktrace}" openPane="false">
				<c:forEach items="${exception.stackTrace}" var="trace">
					<c:out value="${trace}" />
					<br />
				</c:forEach>
			</util:panel>
			</p>
		</c:if>
	</util:panel>
</div>